<html>
  <head>
    <title>gopher gallery</title>
  </head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap" rel="stylesheet"> 
  <style>
    img {
      margin: auto;
      display: block;
    }
    p{
        color: #01ADD8;
        font-size:3rem;
        font-family: 'Fira Code', monospace;
       text-align: center;
    }
    input{
        margin: auto;
      display: block; 
    }
  </style>
  <body>
    <img src="{{ url_for('static', filename='gopherindex.jpg') }}" width="300" height="300" alt="" />
    <form action="{{ upload_route }}" method="POST" enctype="multipart/form-data">
      <p>upload a gopher</p>
      <input type="file" name="image" value="imaes" id="file_photo" /><br />
      <input type="submit" value="submit" />
    </form>
  </body>
</html>
